<nav role="navigation" class="navbar navbar-inverse">
  <div class="navbar-header">
    <button type="button" data-toggle="collapse" data-target="#navbar-inverse" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
    </button><a href="/" class="navbar-brand">Motorsport 1X2</a>
  </div>
  <div id="navbar-inverse" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li><a routerLink="/">Home</a>
      </li>
      <li><a routerLink="/series">Series</a>
      </li>
      <li><a routerLink="/seasons">Seasons</a>
      </li>
      <li><a routerLink="/competitions">Competitions</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
