<h1>{{title}}</h1>

<div *ngIf="competition">
  <h2>{{competition.name}}</h2>
  <h3>Series: {{competition.season.series}} / Season: {{competition.season.year}}</h3>

  <h3>Add new player</h3>
  <p>
    <label>Player name:</label>
  </p>
  <p>
    <input type="text" #newPlayerName />
  </p>
  <p>
    <button class="btn btn-success" (click)="addPlayer(newPlayerName.value, competition.id); newPlayerName.value=''">Add new player</button>
  </p>
  <p *ngIf="newPlayer">
    {{newPlayer.name}} was added!
  </p>

  <h3>Add new player row</h3>
  <p>
    <label>Player: </label>
    <select #player>
      <option *ngFor="let player of players" value={{player.id}}> {{player.name}}
    </select>
  </p>

  <p>
    <label>Round: </label>
    <select #round>
      <option *ngFor="let round of rounds" value={{round.id}}> {{round.roundNumber}}. {{round.roundName}}
    </select>
  </p>

  <p>
    <label>Row type: </label>
    <select #rowType>
      <option value="Qualifying"> Qualifying
      <option value="Race"> Race
    </select>
  </p>

  <p>
    <label>Row:</label>
    <input type="text" #row />
  </p>

  <p>
    <button class="btn btn-success" (click)="addPlayerRow(competition.id, player.value, round.value, rowType.value, row.value); row.value=''">Add new player</button>
  </p>

  <p *ngIf="newPlayerRow">
    New player row was added:<br>
    PlayerID: {{newPlayerRow.player}}, CompetitionID: {{newPlayerRow.competition}}, RoundID: {{newPlayerRow.round}}, Rowtype: {{newPlayerRow.rowType}}, Row: {{newPlayerRow.row}}
  </p>

  <div class="button button-toolbar">
    <a class="btn btn-success" routerLink="/players/rows/add">Add new player row</a>
    <a class="btn btn-info" routerLink="/competition/{{competition.id}}/players">Players</a>
    <a class="btn btn-info" routerLink="/competition/{{competition.id}}/season/{{competition.season.id}}/rounds">Rounds</a>
  </div>
</div>
