<h1>{{title}}</h1>

<div *ngIf="competition">
  <h2>{{competition.name}}</h2>
  <h3>{{competition.season.year}}</h3>

  <div class="button button-toolbar">
    <a class="btn btn-success" routerLink="/players/add">Add new player</a>
    <a class="btn btn-success" routerLink="/players/rows/add">Add new player row</a>
    <a class="btn btn-info" [routerLink]="['/players']" [queryParams]="{competitionId: competition.id}">Players</a>
    <a class="btn btn-info" [routerLink]="['/rounds']" [queryParams]="{competitionId: competition.id}">Rounds</a>
  </div>
</div>
